:root {

    --titulo: 'Poppins', sans-serif;
    --texto: 'Roboto', sans-serif;
    --magenta: #710048;
    --pinky:#d13e7e;
    --violeta: #652156;
    --lavanda: #9C749D;
    --me:#812c4d;
    --gris: #F4F4F4;
    --dark:#696568;
    --selection:#971c7eb4;

}
