* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scrollbar-width: thin;
    scrollbar-color: var(--magenta) var(--violet);
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
}
html::-webkit-scrollbar-track {
    background-color: var(--magenta);
}
html::-webkit-scrollbar-thumb {
    background-color: var(--violet);;
}
::selection {
    background-color: var(--roll);
}

/* Header*/
.header {
    background-color: var(--gris);
    padding: .8rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .5s;
}

.header .logo_header {
    width: 4.5rem;
}

/* Menu */

nav.nav_menu.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 6.3rem;
    width: 100%;
    height: auto;
    background-color: var(--dark);
    box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%), 0 25px 10px -24px rgb(5 5 5 / 10%);
    animation: ease .4s left forwards;
}

@keyframes left {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

nav.nav_menu.active a {
    padding: 2rem;
    font-family: var(--titulo);
    letter-spacing: .1rem;
    text-decoration: none;
    color: var(--violet);
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

nav.nav_menu.active a:hover {
    color: var(--lavanda);
    background-color: black;
    transition: all .4s;
}

nav.nav_menu.not-active a {
    display: none;
}

nav.nav_menu.active .idioma {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

nav.nav_menu.active .idioma_item {
    margin: 0 .3rem;
    filter: contrast(65%);
    cursor: pointer;
}

nav.nav_menu.not-active .idioma {
    display: none;
}

.btn {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(-50%, -50%);
    width: 3rem;
    cursor: pointer;
}

#button span {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: .3rem;
    background: var(--pinky);
    transition: all .3s;
    position: relative;
}

span+span {
    margin-top: .6rem;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 1rem;
        transform: rotate(0);
    }
    100% {
        top: 1rem;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: .8rem;
        transform: rotate(45deg);
    }
    50% {
        top: .8rem;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: .8rem;
        transform: rotate(0);
    }
    100% {
        bottom: .8rem;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: .8rem;
        transform: rotate(135deg);
    }
    50% {
        bottom: .8rem;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


/* Home */

.home {
    background-color: var(--jet);
    width: 100%;
    height: auto;
}

.container_image_home {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 12rem 0 5rem 0;
}

.image_home {
    max-width: 65%;
    transition: .4s;
    animation: image 2s;
}

.home_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.home_text-1 {
    font-family: 'Cooper Hewitt';
    color: var(--white);
    font-size: 2rem;
}

.home_text-2 {
    font-family: 'PT Sans';
    color: var(--beaver);
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.home_text-3 {
    font-family: 'Cooper Hewitt';
    color: var(--white);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    width: 28rem;
    margin: 0 auto;
    text-align: start;
}

.text-type {
    position: relative;
}

.text-type::after {
    content: '|';
    font-weight: bold;
    position: absolute;
    right: 0;
    color: var(--beaver);
    background-color: var(--jet);
    width: 100%;
    animation: typing 4s steps(28) alternate infinite;
}

@keyframes typing {
    to{
        width: 0%;
    }
}