* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scrollbar-width: thin;
    scrollbar-color: var(--magenta) var(--pinky);
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1.5rem;
}
html::-webkit-scrollbar-track {
    background-color: var(--magenta);
}
html::-webkit-scrollbar-thumb {
    background-color: var(--pinky);
}
::selection {
    background-color: var(--selection);
}

/* Header y menu  */
.header{
    background-color: var(--gris);
    display: flex;
    padding: 0.8rem 3rem;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 2;
    transition: 0.5s;
}

.header .logo_header{
    width: 4rem ;
}

nav.nav_menu {
    display: flex;
}

nav.nav_menu a {
    font-size: 1.6rem;
    padding: .5rem;
    color: var(--magenta);
    font-family: var(--titulo);
    font-weight: bold;
    text-decoration: none;
    letter-spacing: .2rem;
    right: 0;
    margin-right: 2.5rem;
}

nav.nav_menu a:hover,
nav.nav_menu a.active {
    color: var(--pinky);
    padding: .5rem;
    border-bottom: 2px solid var(--pinky);
    transition: all .5s;
}

nav.nav_menu.not-active a {
    display: flex;
}

nav.nav_menu.not-active .idioma {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    align-items: center;
}

nav.nav_menu.not-active .idioma_item {
    filter: contrast(65%);
    cursor: pointer;
}

nav.nav_menu.not-active .idioma_item img {
    width: 3rem;
    display: block;
}

div.btn {
    display: none;
}
/* Main */
main{
    display: block;
}

/* Home */

.home {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 4rem;
    height: 100vh;
    width: 100%;
    background-color:white;
    
}

.container_image_home {
    height:auto;
    width: 55%;
    justify-content: center;
    display: flex;
    padding:12rem 0 5rem 0;
}

.image_home {
    object-fit: contain;
}

.home_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 40%;
    padding-left: 6rem;

}

.container_text_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: .2rem;
    text-align: start;
    margin-top: 6rem;
    justify-content: center;
}


.home_text_1 {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: var(--Roboto);
    color:black;
}

.home_text_2 {
    font-size: 6rem;
    font-family: var(--titulo);
    font-weight: bold;
    color: var(--magenta);
    margin-bottom: 1rem;
}

.home_text_3 {
    margin: 0 0 2rem 0;
    font-size: 2rem;
    width: 35rem;
    text-align: start;
    letter-spacing: 0.2rem;    
    font-weight: bold;
    font-family: var(--titulo);
    color:black;
    text-transform: uppercase;
}

.text_type{
    position: relative;
}

.text_type::after {
    content: '|';
    font-weight: bold;
    position: absolute;
    right: 0;
    color: var(--magenta);
    background-color: white;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    width: 100%;
    animation: typing 4s steps(28) alternate infinite;
}

@keyframes typing {
    to{
        width: 0%;
    }
}

.container_parrafo_info {
    display: inline-block;
    text-align: start;
}

.container_parrafo_info p {
    font-family:var(--Roboto);
    color: var(--dark);
    font-size: 1.7rem;
    letter-spacing: 1.1px;
    line-height: 2rem;
}

.container_button {
    display: flex;
    
}

.cv_button {
    background: var(--magenta);
    color:white;
    border: 1px solid var(--magenta);
    border-radius: 3rem;
    padding: 0.7rem 2rem 0.6rem 2rem;
    font-family: var(--titulo);
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor:pointer;
    margin:2rem 0 2rem 1rem;
    transition: 0.3s;
}

.cv_button:hover {
    background: var(--me);
    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
}

.contact_button {
    background-color: var(--violeta);
    border: 1px solid var(--violeta);
    border-radius: 3rem;
    padding: .7rem 4rem .6rem 4rem;
    color: white;
    font-family: var(--titulo);
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0 2rem 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.contact_button:hover {
    background-color: var(--lavanda);
    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
}

.links {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3rem 2rem 3rem;
    align-items: center;
}

.links img {
    margin: .7rem 0 .7rem 0;
    width: 2.4rem;
}

/*Sobre mí*/

.sobre_mi{
    background-color: var(--gris);
    padding-bottom:4rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre_mi h1{
    display: block;
    margin: 3rem;
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
    
    color:var(--violeta);
    font-family: var(--titulo);
    text-align: center;
}

.container_total_sobre_mi{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}

.container_texto_sobre_mi{
    display: flex;
    flex-direction: column;
    width:60%;
    padding: 0 5rem 0 3rem; 
}

.title_sobre_mi{
    text-align: start;
    display: flex;
    color: var(--me);
    font-family: var(--titulo); 
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
}

.texto_sobre_mi{
    color: black;
    font-family: var(--Roboto);
    
    text-align: justify;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    line-height: 2.8rem;
}

.container_img_sobre_mi{
    height: auto;
    width: 65%;
    display: flex;
    justify-content: center;
    
}

.img_sobre_mi{
    width: 65%;
    margin-bottom: 5rem;
    border-bottom: 2px solid var(--magenta);
}

/* Habilidades */

.habilidades {
    padding-bottom: 8rem;
    position: relative;
    background-color: white;
    width: 100%;
    height: auto;
}

.habilidades h1 {
    display: block;
    text-align: center;
    padding:6rem;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-family: var(--titulo);
    font-weight: bold;
    color:var(--me);
}

.cards_container_habilidades {
    display: grid;
    grid-template-columns: 12rem 12rem 12rem 12rem 12rem 12rem;
    grid-template-rows: 15rem 15rem;
    justify-content: center;
    gap:3rem;
    padding: 0;
    margin-top: 2rem;
}

.cards_habilidades{
    background-color: var(--cards);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter:saturate(70%);
    width: 13rem;
    height: 14rem;
}

.cards_habilidades:hover {
    filter: saturate(100%);
    background-color: white;
    border: 2px solid var(--selection);
    transition: all 1s;
    cursor: pointer;
    color:var(--me);
    
}

.cards_habilidades img{
    margin-top:0.7rem;
    width: 10rem;
}

.cards_habilidades p {
    color:black;
    font-weight: bold;
    font-family: var(--titulo);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    margin-top: .8rem;
    text-align: end;
}
